.wrapper{
    display: grid;
    width: 100%;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "aside"
                         "footer";
}
