body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    
}
/* section-2 common set for desktop and mobile */


.main-wrapper a{
    text-decoration: none;
    color:black;
    box-shadow: 0 5px 7px 0 gray;
    margin-top: 20px;
}

.main-wrapper  img{
    max-width: 400px;
}











/* ---------footer */
/* ------------------------- */
footer{
    grid-area: footer;
    background: black;
    color: white;
    margin-bottom: -80px;
    
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-container p{
    padding: 10px;
}

.footer-container a {
    padding: 2px;
}

/* ------------------------------ */
/* ------------------------ */
@media(max-width:1000px){


.body-container{
    display: grid;
    grid-template-areas: 
                    "header"
                    "main"
                    "footer";
}

/* -----------Section 1 */
.header-wrapper{
    grid-area: header;
    width: 100%;
    position: relative;
    background:white;
    /* box-sizing: border-box; */
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    background: rgb(31, 29, 29);
}


.logo {
    color: green;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    background: #ccc;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
   
}

.menu-toggle{
    float: right;
    margin-right: 10px;
}

.menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #ccc;
    float: right;
    cursor: pointer;
    text-align: center; 
    color: #069370;
}

.menu-toggle:before{
    content: '';
    line-height: 40px;        
}

.menu-toggle.active:before{
    content: '';
}



.nav {
    display: none;
}

nav.active{
    display: block;
    width: 100%;
    background-color: white;
    margin-bottom: -10px;
}

nav.active ul {
    display: block;
}


nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color:#262626;
}

nav ul li a.active,
nav ul li a:hover
{
    background: green;
    color: #fff1ff;
}

/* section 2 main---------------------- */

.main-wrapper{
    grid-area: main;
    display: flex;
    flex-direction: column;
}
/* Section 3 footer */
.footer{
    grid-area: footer;
}
}



@media(min-width:1000px){
    .body-container{
        display: grid;
        grid-template-columns: 20% 1fr 20%;
        grid-template-areas: 
                        "header header header"
                        ". main ."
                        "footer footer footer"
    }
   
    /* ------------------------------------ */
    .header-wrapper{
        grid-area: header;
        /* box-sizing: border-box; */
        width: 100%;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,.2);
        background:black;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        color: green;
        height: 60px;
        font-size: 36px;
        line-height: 60px;
        padding: 0 20px;
        background:none;
        text-align: center;
        box-sizing: border-box;
        text-decoration: none;
        
        
    }
    .menu-toggle{
        display: none;
    }

    .nav{
        display: block;
        float: right;     
    }

  
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color:white;
}

nav ul li a.active,
nav ul li a:hover
{
    background: green;
    color: #fff1ff;
}

/* section-2 main */

.main-wrapper{
    grid-area: main;
    
}

.card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}


.card-wrapper a:hover{
    background: green;
}



}